@import "../defaults/base";
@import "../components/utils";

.header {
	// border: 2px solid black;
	height: 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		// border: 2px solid black;
		width: 100px;
		margin-left: 100px;
		font-family: $font-gallient;
		font-size: 2.5rem;
		font-weight: 700;
        position: relative;
        @include flexLayoutCenter;
		transition: all .5s;

        .jb2 {
            display: inline-block;
            color: $secondary-color;
            position: absolute;
            top: -5px;
            left: 35px;
            z-index: -10;
        }

		a {
			text-decoration: none;
			color: $primary-color;
		}

		&:hover {
			font-size: 2.8rem;
		}

		
	}

	.nav-items {
		// border: 2px solid black;
		width: 550px;
		margin-right: 80px;
		display: flex;
		justify-content: space-evenly;

		a {
			font-family: $font-clashDisplayVariable;
			font-size: 1.1rem;
			letter-spacing: 0.5px;
			text-decoration: none;
			color: $primary-color;

			&:hover {
				text-decoration: line-through;
			}
		}
	}
}
