// Mixins for resuable components

@mixin flexLayoutCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexLayoutColumn {
    display: flex;
    flex-direction: column;
}