$smallDesktop: 1250px;
$tabletBp: 1030px;
$mediumMobileBp: 508px;
$smallMobileBp: 400px;

// ***** HEADER *****

@mixin navItemsBp {
    @media only screen and (max-width: $tabletBp) {
        display: none;
    }
}

// Hamburger 
@mixin hamburgerTabletBp {
    @media only screen and (max-width: $tabletBp) {
        // border: 2px solid green;
        display: block;
        @include flexColumnCenter;
        margin-right: 40px;
    }
}


// ***** HOMEPAGE *****

// MAIN HEADING

@mixin introHeadingBp {
    @media only screen and (max-width: $smallDesktop) {
        font-size: 13.5rem;
    }
    
    @media only screen and (max-width: $tabletBp) {
        font-size: 13rem;
    }

    @media only screen and (max-width: 760px) {
        font-size: 12rem;
    }

    @media only screen and (max-width: 660px) {
        font-size: 10rem;
    }

    @media only screen and (max-width: 570px) {
        font-size: 9rem;
    }

    @media only screen and (max-width: $mediumMobileBp) {
        font-size: 8rem;
    }

    @media only screen and (max-width: $smallMobileBp) {
        font-size: 7rem;
    }
}

// SUB-HEADING

@mixin introSubheadingBp {
    @media only screen and (max-width: $smallDesktop) {
        font-size: 3.75rem;
    }
    
    @media only screen and (max-width: $tabletBp) {
        font-size: 3.65rem;
    }

    @media only screen and (max-width: 760px) {
        font-size: 3.3rem;
    }

    @media only screen and (max-width: 660px) {
        font-size: 2.8rem;
    }

    @media only screen and (max-width: 570px) {
        font-size: 2.5rem;
    }

    @media only screen and (max-width: $mediumMobileBp) {
        font-size: 2.25rem;
    }

    @media only screen and (max-width: $smallMobileBp) {
        font-size: 2.1rem;
    }
}

// TEXT

@mixin introTextBp {
    @media only screen and (max-width: $tabletBp) {
        font-size: 1.15rem;
    }

    @media only screen and (max-width: 660px) {
        font-size: 1.1rem;
    }

    @media only screen and (max-width: $smallMobileBp) {
        font-size: 1rem;
    }
}

// LEARN MORE

@mixin learnMoreBp {
    @media only screen and (max-width: $smallDesktop) {
        font-size: 1.9rem;
        width: 280px;

        &:hover {
            width: 360px;
        }
    }
    
    @media only screen and (max-width: $tabletBp) {
        font-size: 1.8rem;
        width: 260px;

        &:hover {
            width: 340px;
        }
    }

    @media only screen and (max-width: 760px) {
        font-size: 1.6rem;
        width: 240px;

        &:hover {
            width: 300px;
        }
    }
    
    @media only screen and (max-width: 660px) {
        font-size: 1.4rem;
        width: 210px;

        &:hover {
            width: 280px;
        }
    }

    @media only screen and (max-width: $smallMobileBp) {
        font-size: 1.2rem;
        width: 180px;

        &:hover {
            width: 240px;
        }
    }
}