@import "../1-defaults/base";
@import "../2-components/mixins";


// ***Social Buttons***

.social-btn {
    font-family: $font-gallient;
    font-size: 2rem;
    color: $bg-color;
    background-color: $slate-color;
    text-align: center;
    width: 200px;
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: 50px;
    border: none;
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.07);
    transition: width 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);

    &:hover {
        cursor: pointer;
        width: 250px;

    }
}

.contact-btn {
    font-family: $font-gallient;
    font-size: 1.6rem;
    color: $bg-color;
    background-color: $slate-color;
    text-align: center;
    width: 130px;
    padding: 10px 30px;
    border-radius: 40px;
    margin-top: 50px;
    border: none;
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.07);
    transition: width 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);

    &:hover {
        cursor: pointer;
        width: 160px;

    }
}