@import "../1-defaults/base";
@import "../2-components/mixins";

// HAMBURGER MENU ANIMATION
@keyframes flipBar1 {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(45deg) translate(4px, 10px);
	}
}

@keyframes fadeBar2 {
	from {
		transform: scaleX(1);
		opacity: 1;
	}
	to {
		transform: scaleX(0);
		opacity: 0;
	}
}

@keyframes flipBar3 {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-45deg) translate(4px, -10px);
	}
}

 