// Mixins for resuable components

// *****FLEX LAYOUTS*****

// Flex layout to center containers or items
@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Flex column
@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

// Flex column center
@mixin flexColumnCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// Flex column align-center only
@mixin flexColumnAlignCenter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Flex row center wrap
@mixin flexRowCenterWrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

// Flex space-between align-center
@mixin flexRowBetweenAlignCenter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// Sets up body to determine nested children containers
@mixin bodySetUp {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

// *****NEEDS TO BE REFACTORED*****

// Main container that holds child content container
@mixin mainContainer {
	height: 70vh;
}

@mixin newMainContainer {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

@mixin contentMainContainer {
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@mixin aboutMainContainer {
	height: 80vh;
}

@mixin projectsMainContainer {
	height: 80vh;
}

// Container nested within parent main container
@mixin homepageContentContainer {
	width: 100%;
	max-width: 70%;
	height: 70%;
}

@mixin contentContainer {
	width: 85%;
	height: 95%;
}

@mixin heroContentContainer {
	// width: 85%;
	width: 100%;
	// height: 35%;
	height: 100%;
}

@mixin projectsContentContainer {
	width: 85%;
	height: 95%;
}

@mixin subheading3 {
	font-family: $font-gallient;
	font-weight: 600;
	font-size: 1.9rem;
	letter-spacing: 1px;
	padding: 16px 0 0 0;
}

// Transition 1
@mixin transition5 {
	transition: all 0.3s ease-in-out;
}

// *****HOVER EFFECTS*****

// CARD HOVER EFFECT 1

// Box Shadow 1
@mixin boxShadow1 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

// Transition 1
@mixin transition1 {
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

// Hover 1
@mixin hover1 {
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
	}
}

// CARD HOVER EFFECT 2

// Box shadow 2
@mixin boxShadow2 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
}

// Hover 2
@mixin hover2 {
	transform: scale(0.95);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.22);
}
