* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Clash Display Variable";
  src: url(/fonts/ClashDisplay-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Cameo Sans";
  src: url(/fonts/CameoSansDEMO.ttf) format("truetype");
}
@font-face {
  font-family: "HTS Outline";
  src: url(/fonts/Hunny\ Straw\ Sans\ Outline.ttf) format("truetype");
}
@font-face {
  font-family: "HTS";
  src: url(/fonts/Hunny\ Straw\ Sans.ttf) format("truetype");
}
@font-face {
  font-family: "FTN5";
  src: url(/fonts/FogtwoNo5.otf) format("opentype");
}
@font-face {
  font-family: "Gallient";
  src: url(/fonts/GallientRegular-eZoMp.ttf) format("truetype");
}
@font-face {
  font-family: "Hookana";
  src: url(/fonts/Hookana.otf) format("opentype");
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/NunitoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Tenor Sans";
  src: url(/fonts/TenorSans.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Clash Display Variable";
  src: url(/fonts/ClashDisplay-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Cameo Sans";
  src: url(/fonts/CameoSansDEMO.ttf) format("truetype");
}
@font-face {
  font-family: "HTS Outline";
  src: url(/fonts/Hunny\ Straw\ Sans\ Outline.ttf) format("truetype");
}
@font-face {
  font-family: "HTS";
  src: url(/fonts/Hunny\ Straw\ Sans.ttf) format("truetype");
}
@font-face {
  font-family: "FTN5";
  src: url(/fonts/FogtwoNo5.otf) format("opentype");
}
@font-face {
  font-family: "Gallient";
  src: url(/fonts/GallientRegular-eZoMp.ttf) format("truetype");
}
@font-face {
  font-family: "Hookana";
  src: url(/fonts/Hookana.otf) format("opentype");
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/NunitoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Tenor Sans";
  src: url(/fonts/TenorSans.ttf) format("truetype");
}
body {
  background-color: #F8F3F1;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  z-index: -100;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Clash Display Variable";
  src: url(/fonts/ClashDisplay-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Cameo Sans";
  src: url(/fonts/CameoSansDEMO.ttf) format("truetype");
}
@font-face {
  font-family: "HTS Outline";
  src: url(/fonts/Hunny\ Straw\ Sans\ Outline.ttf) format("truetype");
}
@font-face {
  font-family: "HTS";
  src: url(/fonts/Hunny\ Straw\ Sans.ttf) format("truetype");
}
@font-face {
  font-family: "FTN5";
  src: url(/fonts/FogtwoNo5.otf) format("opentype");
}
@font-face {
  font-family: "Gallient";
  src: url(/fonts/GallientRegular-eZoMp.ttf) format("truetype");
}
@font-face {
  font-family: "Hookana";
  src: url(/fonts/Hookana.otf) format("opentype");
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/NunitoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Tenor Sans";
  src: url(/fonts/TenorSans.ttf) format("truetype");
}
.header {
  height: 150px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 400px) {
  .header {
    height: 100px;
  }
}
.header .logo {
  width: 100px;
  margin-left: 30px;
  font-family: "Gallient", serif;
  color: #1A1818;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 400px) {
  .header .logo {
    margin-left: 0;
  }
}
.header .logo .jb2 {
  display: inline-block;
  color: #faf9f9;
  position: absolute;
  top: -4px;
  left: 34px;
  z-index: -10;
}
.header .logo a {
  text-decoration: none;
  color: #141414;
}
.header .logo:hover {
  font-size: 2.8rem;
}
.header .nav-items {
  width: 550px;
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1100px) {
  .header .nav-items {
    display: none;
  }
}
.header .nav-items a {
  font-family: "Clash Display Variable", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #141414;
  transition: all 0.3s ease-in-out;
}
.header .nav-items a:hover {
  text-decoration: line-through;
  letter-spacing: 2.5px;
}
.header .hamburger {
  height: 50px;
  width: 50px;
  display: none;
}
@media only screen and (max-width: 1100px) {
  .header .hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .header .hamburger {
    margin-right: 10px;
  }
}
.header .bar {
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Clash Display Variable";
  src: url(/fonts/ClashDisplay-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Cameo Sans";
  src: url(/fonts/CameoSansDEMO.ttf) format("truetype");
}
@font-face {
  font-family: "HTS Outline";
  src: url(/fonts/Hunny\ Straw\ Sans\ Outline.ttf) format("truetype");
}
@font-face {
  font-family: "HTS";
  src: url(/fonts/Hunny\ Straw\ Sans.ttf) format("truetype");
}
@font-face {
  font-family: "FTN5";
  src: url(/fonts/FogtwoNo5.otf) format("opentype");
}
@font-face {
  font-family: "Gallient";
  src: url(/fonts/GallientRegular-eZoMp.ttf) format("truetype");
}
@font-face {
  font-family: "Hookana";
  src: url(/fonts/Hookana.otf) format("opentype");
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/NunitoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Tenor Sans";
  src: url(/fonts/TenorSans.ttf) format("truetype");
}
footer {
  margin: auto 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
footer .copyright {
  font-family: "Clash Display Variable", sans-serif;
  font-size: 0.9rem;
  padding: 10px 20px;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Clash Display Variable";
  src: url(/fonts/ClashDisplay-Variable.ttf) format("truetype");
}
@font-face {
  font-family: "Cameo Sans";
  src: url(/fonts/CameoSansDEMO.ttf) format("truetype");
}
@font-face {
  font-family: "HTS Outline";
  src: url(/fonts/Hunny\ Straw\ Sans\ Outline.ttf) format("truetype");
}
@font-face {
  font-family: "HTS";
  src: url(/fonts/Hunny\ Straw\ Sans.ttf) format("truetype");
}
@font-face {
  font-family: "FTN5";
  src: url(/fonts/FogtwoNo5.otf) format("opentype");
}
@font-face {
  font-family: "Gallient";
  src: url(/fonts/GallientRegular-eZoMp.ttf) format("truetype");
}
@font-face {
  font-family: "Hookana";
  src: url(/fonts/Hookana.otf) format("opentype");
}
@font-face {
  font-family: "Nunito";
  src: url(/fonts/NunitoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Tenor Sans";
  src: url(/fonts/TenorSans.ttf) format("truetype");
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  border: 2px solid black;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}
.main-container .hero-container {
  border: 2px solid black;
  width: 85%;
  height: 30%;
  display: flex;
  justify-content: center;
}
.main-container .hero-container .hero-wrapper {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: relative;
}
.main-container .hero-container .hero-wrapper .hero-heading {
  font-family: "Gallient", serif;
  color: #1A1818;
  font-size: 9.5rem;
  letter-spacing: 8px;
  line-height: 1.4;
  opacity: 0.9;
  position: relative;
  padding-bottom: 5px;
}
.main-container .hero-container .hero-wrapper .hero-heading .writing2 {
  color: #faf9f9;
  position: absolute;
  top: -10px;
  left: 15px;
  opacity: 0.8;
  z-index: -10;
}
.main-container .hero-container .hero-wrapper .hero-subheading {
  font-family: "Gallient", serif;
  color: #1A1818;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
.main-container .content-container {
  border: 2px solid red;
  height: 60%;
  width: 40%;
}
.main-container .content-container .text {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.08rem;
  font-weight: 700;
  margin: 30px 0;
  padding-left: 15px;
}
.main-container .skills-container {
  border: 2px solid red;
  height: 60%;
  width: 40%;
}
.main-container .skills-container .card-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-container .skills-container .card-wrapper .card {
  border: 2px solid black;
  height: 125px;
  width: 50%;
}/*# sourceMappingURL=experience.css.map */