@import "../defaults/base";
@import "../components/background";
@import "../components/header";



.intro {
    border: 2px solid black;
    height: 80vh;    
    @include flexLayoutCenter;

    .intro-container {
        border: 2px solid black;
        width: 70vw;
        height: 60vh;
        
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        
        .intro-heading {
            font-family: $font-clashDisplayVariable;
            text-transform: uppercase;
            font-size: 7rem;
            // text-align: center;
            position: relative;

            .hello2 {
                color: $secondary-color;
                position: absolute;
                top: -10px;
                left: 20px;
                z-index: -10;
            }
        }
        .intro-subheading {
            font-family: $font-clashDisplayVariable;
            font-size: 3.5rem;
            text-transform: uppercase;
            // letter-spacing: 1px;
        }

        .intro-text1 {
            font-family: $font-montserrat;
            font-size: 1.1rem;
            font-weight: 700;
            margin: 30px 0;
        }
        
        
    }
}
