@import "../defaults/base";
@import "../components/background";
@import "../components/header";
@import "../components/footer";

body {
    @include flexLayoutColumn;
    min-height: 100vh;
}

.intro {
    // border: 2px solid black;
    height: 70vh;    
    @include flexLayoutCenter;

    .intro-container {
        // border: 2px solid black;
        width: 70%;
        height: 70%;
        
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        
        .intro-heading {
            font-family: $font-cameoSans;
            text-transform: uppercase;
            font-size: 8rem;
            // text-align: center;
            margin-bottom: 25px;
            position: relative;

            .hello2 {
                color: $secondary-color;
                position: absolute;
                top: -10px;
                left: 20px;
                z-index: -10;
            }
        }
        .intro-subheading {
            font-family: $font-clashDisplayVariable;
            font-weight: 600;
            font-size: 3.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .intro-text1 {
            font-family: $font-montserrat;
            font-size: 1.05rem;
            font-weight: 700;
            margin: 30px 0;
        }
    }
}
