@import "../1-defaults/base";


footer {
    // border: 2px solid black;
    margin: auto 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .copyright {
        font-family: $font-clashDisplayVariable;
        font-size: .9rem;
        padding: 10px 20px;
    }
}