@import "../1-defaults/base";
@import "../2-components/mixins";
@import "../2-components/hamburger-animation";
@import "../2-components/mobile-nav";
@import "../2-components/breakpoints";

.header {
	// border: 2px solid red;
	height: 150px;
	margin: 0 auto;
	width: 90%;
	@include flexRowBetweenAlignCenter;

	@media only screen and (max-width: 400px) {
		height: 100px;
	}

	.logo {
		// border: 2px solid black;
		width: 100px;
		margin-left: 30px;
		font-family: $font-gallient;
		color: $slate-color;
		font-size: 2.5rem;
		font-weight: 700;
        position: relative;
        @include flexCenter;
		@include transition5;

		@media only screen and (max-width: 400px) {
			margin-left: 0;
		}

        .jb2 {
            display: inline-block;
            color: $secondary-color;
            position: absolute;
            top: -4px;
            left: 34px;
            z-index: -10;
        }

		a {
			text-decoration: none;
			color: $primary-color;
		}

		&:hover {
			font-size: 2.8rem;
		}
	}

	.nav-items {
		// border: 2px solid blue;
		width: 550px;
		margin-right: 30px;
		display: flex;
		justify-content: space-evenly;
		
		@include navItemsBp;

		a {
			font-family: $font-clashDisplayVariable;
			font-size: 1.1rem;
			letter-spacing: 1px;
			text-decoration: none;
			color: $primary-color;
			@include transition5;

			&:hover {
				text-decoration: line-through;
				letter-spacing: 2.5px;
			}
		}
	}

	.hamburger {
		height: 50px;
		width: 50px;
		display: none;
		z-index: 2;

		@include hamburgerTabletBp;

		@media only screen and (max-width: 400px) {
			margin-right: 10px;
		}

		.bar1, .bar2, .bar3 {
			background-color: black;
			height: 4px;
			width: 36px;
			margin: 3px;
			border-radius: 10px;

		}

		.animateBar1 {
			animation: flipBar1 .5s;
			animation-fill-mode: forwards;
		}
		.animateBar2 {
			animation: fadeBar2 .5s;
			animation-fill-mode: forwards;
		}
		.animateBar3 {
			animation: flipBar3 .5s;
			animation-fill-mode: forwards;
		}

		&:hover {
			cursor: pointer;
		}
	}
}



