@import "../1-defaults/base";
@import "../2-components/mixins";
@import "../2-components/breakpoints";

// ***** MAIN HERO *****

.hero-container {
    // border: 2px solid blue;
    width: 80%;
    height: 30%;

    .hero-heading {
        font-family: $font-gallient;
        color: $slate-color;
        font-size: 11rem;
        letter-spacing: 8px;
        line-height: 1.4;
        opacity: 0.9;
        position: relative;
        padding-bottom: 10px;

        @media only screen and (max-width: 1100px) {
            font-size: 10rem;
        }

        .hero-heading2 {
            color: $secondary-color;
            position: absolute;
            top: -10px;
            left: 15px;
            opacity: 0.8;
            z-index: -10;
        }
    }

    .hero-subheading {
        font-family: $font-gallient;
        color: $slate-color;
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: 1px;
        padding-left: 8px;

        @media only screen and (max-width: 1100px) {
            font-size: 2.2rem;
        }
    }
}

// ***** ABOUT PAGE HERO *****

.about-hero-container {
    // border: 2px solid black;
    width: 80%;
    height: 30%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;

    @include heroContainerBp;

    .about-hero-wrapper {
        @include flexColumn;

        .about-hero-heading {
            font-family: $font-gallient;
            color: $slate-color;
            font-size: 11rem;
            letter-spacing: 8px;
            line-height: 1.4;
            opacity: 0.9;
            position: relative;
            padding-bottom: 10px;

            @include heroHeadingBp;

            .about-hero-heading2 {
                color: $secondary-color;
                position: absolute;
                top: -10px;
                left: 15px;
                opacity: 0.8;
                z-index: -10;
            }
        }

        .about-hero-subheading {
            font-family: $font-gallient;
            color: $slate-color;
            font-weight: 600;
            font-size: 2.5rem;
            letter-spacing: 1px;
            padding-left: 8px;

            @include heroSubheadingBp;
        }
    }
    
    .image-wrapper {
        position: relative;
        // border: 2px solid red;
        width: 300px;
        display: flex;

        .profile-photo {
            width: 100%;
            border-radius: 25px;
            object-fit: cover;
        }

        @include imageWrapperBp;
    }
}