@import "../1-defaults/base";
@import "../2-components/mixins";
@import "../2-components/breakpoints";

// *********************
// ***** MAIN HERO *****
// *********************

// HERO SECTION
.hero-container {
    width: 80%;
    height: 30%;

    // HERO TITLE
    .hero-heading {
        font-family: $font-gallient;
        color: $slate-color;
        font-size: 11rem;
        letter-spacing: 8px;
        line-height: 1.4;
        opacity: 0.9;
        position: relative;
        padding-bottom: 10px;

        @include heroHeadingBp;

        .hero-heading2 {
            color: $secondary-color;
            position: absolute;
            top: -10px;
            left: 15px;
            opacity: 0.8;
            z-index: -10;
        }
    }

    // HERO SUBHEADING
    .hero-subheading {
        font-family: $font-gallient;
        color: $slate-color;
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: 1px;
        padding-left: 8px;

        @include heroSubheadingBp;
    }
}

// ***************************
// ***** ABOUT PAGE HERO *****
// ***************************

// HERO SECTION
.about-hero-container {
    width: 80%;
    height: 30%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;

    @include aboutHeroContainerBp;

    .about-hero-wrapper {
        @include flexColumn;

        // HERO TITLE
        .about-hero-heading {
            font-family: $font-gallient;
            color: $slate-color;
            font-size: 11rem;
            letter-spacing: 8px;
            line-height: 1.4;
            opacity: 0.9;
            position: relative;
            padding-bottom: 10px;

            @include aboutHeroHeadingBp;

            .about-hero-heading2 {
                color: $secondary-color;
                position: absolute;
                top: -10px;
                left: 15px;
                opacity: 0.8;
                z-index: -10;
            }
        }

        // HERO SUBHEADING
        .about-hero-subheading {
            font-family: $font-gallient;
            color: $slate-color;
            font-weight: 600;
            font-size: 2.5rem;
            letter-spacing: 1px;
            padding-left: 8px;

            @include aboutHeroSubheadingBp;
        }
    }
    
    // ABOUT PAGE HERO IMAGE
    .image-wrapper {
        position: relative;
        // border: 2px solid red;
        width: 300px;
        display: flex;

        .profile-photo {
            width: 100%;
            border-radius: 25px;
            object-fit: cover;
        }

        @include imageWrapperBp;
    }
}

// ********************************
// ***** EXPERIENCE PAGE HERO *****
// ********************************

// HERO SECTION
.experience-hero-container {
    width: 80%;
    height: 30%;

    // HERO TITLE
    .experience-hero-heading {
        font-family: $font-gallient;
        color: $slate-color;
        font-size: 11rem;
        letter-spacing: 8px;
        line-height: 1.4;
        opacity: 0.9;
        position: relative;
        padding-bottom: 10px;

        @include experienceHeroHeadingBp;

        .experience-hero-heading2 {
            color: $secondary-color;
            position: absolute;
            top: -10px;
            left: 15px;
            opacity: 0.8;
            z-index: -10;

            @include experienceHeroSubheadingBp;
        }
    }

    // HERO SUBHEADING
    .experience-hero-subheading {
        font-family: $font-gallient;
        color: $slate-color;
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: 1px;
        padding-left: 8px;

        @include heroSubheadingBp;
    }
}

// **********************************
// ***** WRITING POST PAGE HERO *****
// **********************************

// HERO SECTION
.writing-post-hero-container {
    width: 85%;
    height: 13%;
    display: flex;
    justify-content: center;
    margin: 25px 0;

    .writing-post-hero-wrapper {
        @include heroContentContainer;
        position: relative;

        // HERO TITLE
        .writing-post-hero-heading {
            font-family: $font-gallient;
            color: $slate-color;
            font-size: 7rem;
            letter-spacing: 8px;
            line-height: 1.4;
            opacity: 0.9;
            position: relative;
            @include writingPostHeadingBp;

            .writing-post-hero-heading2 {
                color: $secondary-color;
                position: absolute;
                top: -10px;
                left: 8px;
                opacity: 0.8;
                z-index: -10;
            }
        }

        // HERO SUBHEADING
        .writing-post-hero-subheading {
            font-family: $font-gallient;
            color: $slate-color;
            font-weight: 600;
            font-size: 2.2rem;
            letter-spacing: 1px;
            @include writingPostSubheadingBp;
        }
        
        .date {
            font-family: $font-gallient;
            color: $slate-color;
            font-size: 1.5rem;
            letter-spacing: 1px;
            padding-top: 15px;
            margin-left: 4px;
            @include writingPostDateBp;
        }
    }
}