@import "../1-defaults/base";
@import "../2-components/background";
@import "../2-components/mixins";
@import "../2-components/breakpoints";
@import "../3-layout/body-setup";
@import "../3-layout/header";
@import "../3-layout/hero";
@import "../3-layout/footer";

// MAIN SECTION
.main-container {

	// ABOUT TEXT BODY SECTION
	.about-text-container {
		width: 80%;
		height: 30%;
		margin: 0 auto;
		padding-top: 10px;

		// ABOUT TEXT PARAGRAPHS
		.about-text {
			width: 75%;
			font-family: $font-montserrat;
			font-size: 1.2rem;
			font-weight: 400;
			margin: 30px 0;

			@include aboutTextBp;
		}

		// ABOUT TEXT SUBHEADINGS
		.about-subheading3 {
			@include subheading3;
			@include aboutSubheadingBp;
		}
	}
}
