@import "../1-defaults/base";
@import "../2-components/background";
@import "../2-components/mixins";
@import "../3-layout/header";
@import "../3-layout/footer";

body {
	min-height: 100vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.intro-container {
	// border: 2px solid red;
	height: 70vh;
	@include flexLayoutCenter;

	.intro-wrapper {
		// border: 2px solid blue;
		width: 100%;
		max-width: 70%;
		height: 70%;

		@media only screen and (max-width: 400px) {
			max-width: 80%;
			height: 80%;
		}

		.intro-heading {
			font-family: $font-gallient;
			color: $slate-color;
			font-size: 14.5rem;
			letter-spacing: 8px;
			line-height: 1.4;
			opacity: 0.9;
			position: relative;

			@media only screen and (max-width: 1100px) {
				font-size: 13rem;
			}

			@media only screen and (max-width: 760px) {
				font-size: 10rem;
			}

			@media only screen and (max-width: 400px) {
				font-size: 7rem;
			}

			.intro-heading-2 {
				color: $secondary-color;
				position: absolute;
				top: -10px;
				left: 20px;
				opacity: 0.8;
				z-index: -10;
			}
		}

		.intro-subheading {
			font-family: $font-gallient;
			font-weight: 600;
			color: $slate-color;
			font-size: 4rem;
			letter-spacing: 1px;

			@media only screen and (max-width: 1100px) {
				font-size: 3.5rem;
			}

			@media only screen and (max-width: 760px) {
				font-size: 2.69rem;
			}

			@media only screen and (max-width: 400px) {
				font-size: 2.1rem;
			}
		}

		.intro-text {
			font-family: $font-montserrat;
			font-size: 1.1rem;
			font-weight: 700;
			margin: 30px 0;

			@media only screen and (max-width: 1100px) {
				font-size: 1rem;
			}

			@media only screen and (max-width: 760px) {
				font-size: .9rem;
			}
		}

		.learn-more {
			font-family: $font-gallient;
			font-size: 2rem;

			@media only screen and (max-width: 1100px) {
				font-size: 1.8rem;
			}

			@media only screen and (max-width: 760px) {
				font-size: 1.4rem;
			}
		}
	}
}
