@import "../1-defaults/base";
@import "../2-components/mixins";
@import "../2-components/background";
@import "../3-layout/header";
@import "../3-layout/footer";
@import "../3-layout/hero";

body {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5em;
	
	.hero-container {
		border: 2px solid black;
		width: 80%;
		height: 30%;
		// margin: 0 auto;

		@media only screen and (max-width: 900px) {
			flex-direction: column;
		}

		.hero-heading {
			font-family: $font-gallient;
			color: $slate-color;
			font-size: 11rem;
			letter-spacing: 8px;
			line-height: 1.4;
			opacity: 0.9;
			position: relative;
			padding-bottom: 10px;

			@media only screen and (max-width: 1100px) {
				font-size: 10rem;
			}

			.hero-heading2 {
				color: $secondary-color;
				position: absolute;
				top: -10px;
				left: 15px;
				opacity: 0.8;
				z-index: -10;
			}
		}

		.hero-subheading {
			font-family: $font-gallient;
			color: $slate-color;
			font-weight: 600;
			font-size: 2.5rem;
			letter-spacing: 1px;
			padding-left: 8px;

			@media only screen and (max-width: 1100px) {
				font-size: 2.2rem;
			}
		}
	}

	.projects-container {
		border: 2px solid red;
		width: 80%;
		margin-bottom: 50px;
		padding: 30px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 3em;

		.content {
			border: 2px solid blue;
			height: 200px;
			width: 300px;

			.content-img {
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
