@import "../1-defaults/base";
@import "../2-components/mixins";
@import "../2-components/background";
@import "../3-layout/header";
@import "../3-layout/footer";
@import "../3-layout/hero";

body {
	@include bodySetUp;
}

.main-container {
	border: 2px solid green;
	@include flexRowCenterWrap;
	gap: 2rem;
	
	.hero-container {
		border: 2px solid blue;
		width: 80%;
		height: 30%;

		.hero-heading {
			font-family: $font-gallient;
			color: $slate-color;
			font-size: 11rem;
			letter-spacing: 8px;
			line-height: 1.4;
			opacity: 0.9;
			position: relative;
			padding-bottom: 10px;

			@media only screen and (max-width: 1100px) {
				font-size: 10rem;
			}

			.hero-heading2 {
				color: $secondary-color;
				position: absolute;
				top: -10px;
				left: 15px;
				opacity: 0.8;
				z-index: -10;
			}
		}

		.hero-subheading {
			font-family: $font-gallient;
			color: $slate-color;
			font-weight: 600;
			font-size: 2.5rem;
			letter-spacing: 1px;
			padding-left: 8px;

			@media only screen and (max-width: 1100px) {
				font-size: 2.2rem;
			}
		}
	}

	.blog-container {
		border: 2px solid red;
		width: 100%;
		margin-bottom: 50px;
		padding: 30px;
		@include flexRowCenterWrap;
		gap: 2rem;

		.blog-card {
			// border: 2px solid blue;
			height: 500px;
			width: 350px;
			position: relative;

			.content-img {
				border-radius: 10px;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			.blog-post-container {
				position: absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				padding-left: 20px;
				font-family: $font-gallient;
				font-weight: 600;
				font-size: 2.8rem;
				letter-spacing: 2px;
				color: $bg-color;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				box-sizing: border-box;

				.title {
					padding-top: 5px;
				}

				.date {
					font-size: 1.4rem;
					padding-bottom: 5px;
				}
			}
		}
					
		.overlay {
			font-family: $font-clashDisplayVariable;
			font-size: 1.3rem;
			font-weight: 600;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			background-color: rgba(255, 255, 255, 0.09);
			color: white;
			width: 100%;
			height: 100%;
			margin: 0;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: all 0.25s ease;

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}
	}
}
