@import "../1-defaults/base";
@import "../2-components/mixins";
@import "../2-components/background";
@import "../2-components/buttons";
@import "../2-components/breakpoints";
@import "../3-layout/body-setup";
@import "../3-layout/header";
@import "../3-layout/footer";
@import "../3-layout/hero";

// MAIN SECTION
.main-container {
	@include flexColumBetweenCenter;

	// BLOG POST SECTION
	.post-container {
		height: 80%;
		width: 85%;
		margin-bottom: 80px;

		// IMAGE CONTENT
		figure {
			height: 400px;
			width: 600px;
			margin: 20px auto 70px;
			@include writingPostImageBp;

			img {
				width: 100%;
				border-radius: 10px;
			}

			// FIGCAPTION TEXT
			figcaption {
				margin-top: 15px;
				text-align: center;
				font-family: $font-montserrat;
				font-size: 1.2rem;
				font-weight: 500;
				@include writingPostCaptionBp;
			}
		}

		// BLOG POST SECTION
		.post {
			width: 90%;
			font-family: $font-montserrat;
			font-size: 1.1rem;
			font-weight: 700;
			margin: 30px 0;
			padding: 0 20px;

			// BLOG POST SUBHEADINGS
			.subheading3 {
				font-family: $font-gallient;
				font-weight: 600;
				font-size: 1.8rem;
				letter-spacing: 1px;
				padding: 16px 0;
			}

			// BLOG POST BODY TEXT
			.blog-text {
				width: 105%;
				margin: 0 0 20px 0;
				line-height: 1.8;
				font-size: 1.2rem;
				font-weight: 400;
				@include blogTextBp;
			}

			// QUOTE SNIPPET
			.quote {
				font-family: $font-gallient;
				font-size: 3rem;
				padding: 50px 100px;
				display: block;
				letter-spacing: 1.8px;
				position: relative;
				@include quoteBp;

				// QUOTE TEXT
				p {
					font-size: 2.5rem;
					display: inline-block;
					padding: 0 0 0 40px;
					@include quotePBp;
				}
			}
		}
	}
}
