// Importing custom font families

@font-face {
	font-family: "Clash Display Variable";
	src: url(/fonts/ClashDisplay-Variable.ttf) format("truetype");
}

@font-face {
	font-family: "Cameo Sans";
	src: url(/fonts/CameoSansDEMO.ttf) format("truetype");
}

@font-face {
	font-family: "HTS Outline";
	src: url(/fonts/Hunny\ Straw\ Sans\ Outline.ttf) format("truetype");
}

@font-face {
	font-family: "HTS";
	src: url(/fonts/Hunny\ Straw\ Sans.ttf) format("truetype");
}

@font-face {
	font-family: "FTN5";
	src: url(/fonts/FogtwoNo5.otf) format("opentype");
}

@font-face {
	font-family: "Gallient";
	src: url(/fonts/GallientRegular-eZoMp.ttf) format("truetype");
}

@font-face {
	font-family: "Hookana";
	src: url(/fonts/Hookana.otf) format("opentype");
}

@font-face {
	font-family: "Nunito";
	src: url(/fonts/NunitoSans-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Tenor Sans";
	src: url(/fonts/TenorSans.ttf) format("truetype");
}

// Declaring font variables

$font-clashDisplayVariable: "Clash Display Variable", sans-serif;
$font-cameoSans: "Cameo Sans", sans-serif;
$font-hts: "HTS", sans-serif;
$font-htsOutline: "HTS Outline", sans-serif;
$font-ftn5: "FTN5", serif;
$font-montserrat: "Montserrat", sans-serif; 
$font-gallient: "Gallient", serif;
$font-hookana: "Hookana", serif;
$font-nunito: "Nunito Sans", sans-serif;
$font-tenorSans: "Tenor Sans", sans-serif;
