// Importing custom font families

@font-face {
	font-family: "Clash Display Variable";
	src: url(../../fonts/ClashDisplay-Variable.woff2) format("truetype");
}

@font-face {
	font-family: "Gallient";
	src: url(../../fonts/GallientRegular-eZoMp.woff2) format("truetype");
}

// Declaring font variables

// Main font for titles and subheadings
$font-gallient: "Gallient", serif;

// Font for body text
$font-montserrat: "Montserrat", sans-serif;      

// Font for navigation and bold texts
$font-clashDisplayVariable: "Clash Display Variable", sans-serif;

